<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943646669403-s1rplm2ph90nn3hgmnu9gje9mqvglngc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943646669403-s1rplm2ph90nn3hgmnu9gje9mqvglngc</string>
	<key>API_KEY</key>
	<string>AIzaSyCjD7wqe1C1AuggBEc3Rph4tADhfJkBhjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>943646669403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alcantech.Wutnao</string>
	<key>PROJECT_ID</key>
	<string>wutnao-fdacc</string>
	<key>STORAGE_BUCKET</key>
	<string>wutnao-fdacc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943646669403:ios:b6579e59caeec65b389d7e</string>
	<key>DATABASE_URL</key>
	<string>https://wutnao-fdacc.firebaseio.com</string>
</dict>
</plist>